<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="xamarinios1" userInstalled="true" />
  <package id="WebSocket4Net" version="0.13.1" targetFramework="xamarinios1" userInstalled="true" />
  <package id="Xamarin.Forms" version="1.4.4.6392" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.assert" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.core" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.extensibility.execution" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.runner.devices" version="1.0.0" targetFramework="xamarinios1" userInstalled="true" />
  <package id="xunit.runner.utility" version="2.0.0" targetFramework="xamarinios1" userInstalled="true" />
</packages>