<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="monoandroid50" userInstalled="true" />
  <package id="SuperSocket.ClientEngine.Core" version="0.8.0.8" targetFramework="monoandroid50" />
  <package id="System.Linq" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Threading" version="4.3.0" targetFramework="monoandroid50" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="monoandroid50" />
  <package id="WebSocket4Net" version="0.15.0-beta6" targetFramework="monoandroid50" userInstalled="true" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Forms" version="2.3.4.221-pre6" targetFramework="monoandroid50" userInstalled="true" />
  <package id="xunit" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.assert" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.core" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.extensibility.execution" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.runner.devices" version="1.0.0" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.runner.utility" version="2.0.0" targetFramework="monoandroid5" userInstalled="true" />
</packages>